# Based on Bazzite: https://github.com/ublue-os/bazzite/blob/main/system_files/desktop/silverblue/usr/lib/systemd/system/dconf-update.service

[Unit]
Description=Update the dconf database onboot
Documentation=https://github.com/coreos/rpm-ostree/issues/1944

[Service]
Type=oneshot
ExecStart=/usr/bin/dconf update

[Install]
WantedBy=multi-user.target
